$gray: #bbb;
$light-gray: #fafafa;
$bg-gray: #f5f5f5;
$dark-gray: #8a8a8a;
$primary: #1e88e5;
$secondary: #3949ab;
$black: #222;

$radius: 10px;
$radius-sm: 4px;

$box-shadow: 0px 2px 10px rgba(0,0,0,.3);
$box-shadow-sm: 0px 1px 7px rgba(0,0,0,.3);


.service-title {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;

	H1 {
		font-size: 3em;
		font-weight: 300;
	}
}

.service-title__links {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid $gray;
}

.service-title__current-cat {
	margin-top: 30px;
	font-weight: bold;
	position: relative;
}

.service-title__cats {
	padding-top: 30px;
}

.service-title__cat_current {
	pointer-events: none;
	opacity: .5;
	box-shadow: none!important;
}

.service-block {
	background: white;
	margin-bottom: 25px;
	padding: 30px;
	overflow: auto;
}

.service-block__header {
	border-bottom: 1px solid $bg-gray;
	margin-bottom: 50px;
	padding-bottom: 30px;
	font-size: 18px;
}

.service-order__title {
	font-size: 2em;
	font-weight: normal;
}

.service-order__row {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #eee;

	&:last-child {
		border-bottom: none;
	}
}

.service-order__form-part {
	border: 1px solid $bg-gray;
	margin-bottom: 60px;
	padding: 30px;
	position: relative;
}

.order-form__title {
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: -15px;
	width: 100%;

	span {
		background: white;
		padding: 0 15px;
		font-weight: bold;
	}
}

.service-order__title-divider {
		position: relative;
		margin-top: 2em;
		margin-bottom: 1em;

	.center-object {
		display: inline-block;
		position: relative;
		font-size: 16px;
		padding: 1em;
		background: white;
		z-index: 2;
	}

	span {
		font-weight: bold;
		color: $gray;
	}

	&:before {
		content: " ";
		display: block;
		height: 1px;
		border-bottom: 1px solid $bg-gray;
		position: absolute;
		width: 100%;
		top: 50%;
		z-index: 0;
	}

}

.order-form__row {
	padding: 15px;
	overflow: auto;
}

.order-form__form-body {
	padding-top: 10px;
	padding-bottom: 10px;
}

.input-note-title {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

.order-input__wrap {
	float: left;
	width: 100%;

	span {
		display: block;
		font-weight: normal;
		font-size: 16px;
		padding-bottom: 10px;
	}
}

.order-input {
	width: 100%;
}

.service-block__pages {

}

.service-block__pages__info {
	display: inline-block;
	color: $gray;
	font-weight: bold;
	margin-left: 30px;
}

.service-block__footer {
	overflow: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.service-block__footer__actions {
	float: right;
	height: 50px;

	button {
		margin-left: 10px;
	}
}

@media screen and (max-width: 991px) {

	.order-input {
		margin-bottom: 10px;
	}

}

/* ---- / SERVICES --- */






/* --- LOAN -- */

.loan-order__full-name {

	.order-input__wrap {
		width: 33.333%;
	}

	.order-input {
		background-image: url(../img/icons/input-name.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}

}

.loan-order__last-name {
	padding-right: 7.5px;
}

.loan-order__first-name {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.loan-order__fathers-name {
	padding-left: 7.5px;
}

.loan-order__pin {

	.order-input {
		background-image: url(../img/icons/input-pin.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}

.loan-order__city {

	.order-input {
		background-image: url(../img/icons/input-city.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}

.loan-order__phone {

	.order-input {
		background-image: url(../img/icons/input-phone.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}

.loan-order__email {

	.order-input {
		background-image: url(../img/icons/input-email.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}


.loan-order__sum {

	input[type="text"] {
		width: 70%;
	}
}


.loan-order__period {

	input {
		width: 70%;
	}

}

.loan-order__rate {

	input {
		width: 70%;
	}

}



.loan-order__sum {

	.order-input {
		background-image: url(../img/icons/input-loan-sum.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}

.loan-order__period {

	.order-input {
		background-image: url(../img/icons/input-loan-period.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}

.loan-order__rate {

	.order-input {
		background-image: url(../img/icons/input-loan-rate.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}

.loan-order__income {

	.order-input {
		background-image: url(../img/icons/input-loan-income.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}

.loan-order__comment {

	.order-input {
		background-image: url(../img/icons/input-loan-comment.png);
		background-repeat: no-repeat;
		background-position: 1.5em center;
		background-size: 1.2em;
		padding-left: 4em;
	}
}


.loan-order__payment-method__radios {

	.col-xs-12 {
		text-align: center;
	}

	.form-radio {
		display: inline-block;
		margin: 0 2em;
	}

}


.loan-order__income {

	input {
		width: 70%;
	}
}

.loan-order__income__label {
	padding: 1em 2em;
}

.loan-order__card-details {
	max-width: 430px;
	margin: 0 auto;
	display: none;

	.order-input__wrap {
		margin-bottom: 2em;
	}
}

.loan-order__card-expire {

	.order-input {
		width: 35%;
		margin-right: 15px;
		float: left;
	}
}


.loan-order__card-num {

	input {
		background-image: url(../img/icons/input-loan-card.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 1.5em;
	}
}


.calc-icon {
	width: 70px;
	height: 70px;
	background: $black url(../img/icons/calc-icon.png) no-repeat center;
	background-size: 2em;
	border-radius: 35px;
	box-shadow: $box-shadow;
	position: fixed;
	left: 25px;
	bottom: 60px;
	cursor: pointer;
	padding: 25px;
	transition: width .2s;

	span {
		color: white;
		font-weight: 600;
		display: none;
	}

	&:hover {
		background: $black;
		width: auto;
	}

	&:hover span {
		display: inline;
	}
}

.calc-icon_close {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: $black url(../img/icons/close-white.png) no-repeat center;
	position: fixed;

	cursor: pointer;
	display: none;
	z-index: 162;

	background-size: 1em;
	box-shadow: $box-shadow;
	left: 25px;
	bottom: 60px;
}


.loan-calc__wrap {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	z-index: 100;
	display: none;
}

.loan-calc {
	width: 680px;
	box-shadow: $box-shadow;
	background: white;
}

.loan-calc {
	position: fixed;
	left: 120px;
	bottom: 60px;
	z-index: 180;
}


.loan-calc__top {
	font-size: 16px;
	box-shadow: 0 3px 3px rgba(0,0,0,.1);
	padding: 10px 15px;
	overflow: auto;
	display: flex;
	position: relative;
}

.loan-calc__form {
	padding: 7.5px;
}

.loan-calc-input__wrap {
	width: 50%;
	float: left;
	padding: 15px;
}

.loan-calc-input__wrap {
	span {
		display: block;
		font-weight: normal;
		font-size: 16px;
		padding-bottom: 10px;
	}
}

.loan-calc-input input {
	width: 70%;
}


@media screen and (max-width: 991px) {

	.loan-calc-input {
		margin-bottom: 10px;
	}

}

.loan-calc__period {

	select {
		width: 30%;
	}
}

.loan-calc__payment-type {
	padding: 30px 15px;
	float: left;
	clear: both;

	span {
		display: inline-block;
	}

	select {
		display: inline-block;
		width: auto;
		border-bottom: 1px solid $black;
		margin: 0 5px;
		padding-bottom: 3px;
		cursor: pointer;
	}
}


@media screen and (max-width: 991px) {
	.calc-icon {
		width: auto;
		height: auto;
		background: $black;
		position: fixed;
		left: 0;
		bottom: 0;
		padding: 10px;
		border-radius: 0 4px 0 0;

		span {
			color: white;
			font-weight: 600;
			display: inline;
		}

	}

}


/* --- COMPARE --- */

.compare__block {
	background: white;
	margin-bottom: 25px;
	padding: 30px;
}

.compare__filters {

	.row {
		margin-bottom: 20px;
	}
}

.compare__filter {
	background: $light-gray;
	padding: 15px;
	border-radius: $radius-sm;

	select {
		display: block;
		border-bottom: 1px solid $black;
		margin-top: 10px;
		padding-bottom: 3px;
		cursor: pointer;
	}
}

.compare__filters__btns {
	text-align: right;

	.btn {
		margin-left: 7px;
	}
}

.compare__item {
	background: $light-gray;
	border-radius: $radius;
	padding: 20px;
	overflow: auto;
	margin-bottom: 30px;
}

.compare__item__img {
	width: 5%;
	float: left;
}

.compare__item__right {
	width: 95%;
	padding-left: 20px;
	float: left;
}

.compare__item__top {
	overflow: auto;
}

.compare__item__name {
	float: left;
	font-size: 18px;
	font-weight: 600;
}

.compare__item__btn {
	display: inline-block;
	float: right;
	box-shadow: none;
}

.compare__item__details {
	overflow: auto;
	margin-top: 40px;

	ul {
		width: 50%;
		float: left;
		padding: 0;
		padding-right: 20px;
	}

	li {
		width: auto;
		border-bottom: 1px solid $gray;
		padding-bottom: 5px;
		margin-bottom: 10px;
		list-style-type: none;
		background: url(../img/icons/list-round.png) no-repeat left .5em;
		background-size: 6px;
		padding-left: 20px;
	}

	b {
		display: inline-block;
		float: right;
	}

}

/* --- / COMPARE --- */



.jslider .jslider-value {
	font-size: 12px!important;
	background: transparent!important;
}

.compare__filters__slider {
	padding: 35px!important;
}